body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

div {
    margin: 10px;
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 8px 15px;
    background-color: #af4c90;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a21584;
}

#task-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
